Repository cloudposse/build-harness, pull requests merged in 2020-12, with the labels that each got.

#261 new target to remove upper bound for terraform core version constraint
  README.md
  docs/targets.md
  modules/terraform/Makefile
Labels: modules/terraform

#262 Add support for Terraform 0.14
  .github/linters/.hadolint.yml
  .github/workflows/chatops.yml
  .github/workflows/validate-codeowners.yml
  Dockerfile
  README.md
  docs/targets.md
  modules/github/Makefile.init
  modules/packages/Makefile
  modules/terraform/Makefile
  templates/.github/CODEOWNERS
  templates/.github/auto-release.yml
  templates/.github/workflows/validate-codeowners.yml
  templates/Makefile.build-harness
  templates/README.md.gotmpl
  templates/terraform/.github/mergify.yml
  templates/terraform/.github/workflows/auto-context.yml
  templates/terraform/.github/workflows/auto-readme.yml
  templates/terraform/.github/workflows/chatops.yml
Labels: modules/github, modules/packages, modules/terraform

#266 Add commands to help create pull requests
  .github/workflows/docker.yml
  .github/workflows/validate-codeowners.yml
  Dockerfile.slim
  modules/terraform/Makefile
  templates/.github/workflows/validate-codeowners.yml
  templates/Makefile.build-harness
  templates/terraform/.github/workflows/auto-context.yml
Labels: modules/terraform

#267 Add renovate config to Terraform modules
  .github/workflows/docker.yml
  modules/github/Makefile.init
  modules/terraform/Makefile
  templates/Makefile.build-harness
  templates/terraform/.github/renovate.json
Labels: modules/github, modules/terraform, patch

#268 Support more automation
  modules/github/Makefile.init
  modules/packages/Makefile
  templates/.github/auto-release.yml
  templates/.github/workflows/auto-release.yml
  templates/Makefile.build-harness
  templates/terraform/.github/mergify.yml
  templates/terraform/.github/workflows/auto-format.yml
  templates/terraform/.github/workflows/auto-readme.yml
Labels: modules/github, modules/packages
