Repository cloudposse/build-harness, pull requests merged in 2020-08, with the labels that each got.

#238 add auto-release action
  .github/auto-release.yml
  .github/workflows/auto-release.yml
  modules/github/Makefile.init
  templates/.github/auto-release.yml
  templates/.github/workflows/auto-release.yml
Labels: enhancement, modules/github

#239 refine auto release
  .github/auto-release.yml
  .github/workflows/auto-release.yml
  templates/.github/auto-release.yml
  templates/.github/workflows/auto-release.yml
Labels: bug

#240 use labels
  .github/auto-release.yml
  templates/.github/auto-release.yml
Labels: enhancement

#243 Fix module upgrade script
  bin/upgrade_terraform_modules.sh
  modules/terraform/Makefile
Labels: modules/terraform

#244 Fixing superlint terraform docs check for inherited markdown files
  modules/docs/Makefile
Labels: modules/docs, patch
