Repository cloudposse/build-harness, pull requests merged in 2022-04, with the labels that each got.

#313 GitHub action updates
  Dockerfile
  modules/github/Makefile.init
  templates/Makefile.build-harness
Labels: modules/github, bugfix

#315 Use cloudposse.tools instead of git.io
  README.md
  README.yaml
  docs/auto-init.md
  modules/codefresh/README.md
Labels: modules/codefresh, no-release

#317 fix typo
  README.md
  README.yaml
Labels: patch

#316 Better handling of git "safe.directory"
  .github/workflows/docker.yml
  README.md
  README.yaml
  templates/Makefile.build-harness
Labels: patch

#318 Remove duplicate paragraph
  README.md
  README.yaml
Labels: no-release

#319 Fix Docker image build on Workflow Dispatch
  .github/.github-CODEOWNERS-update-disabled
  .github/.github-update-disabled
  .github/workflows/docker.yml
  README.md
  README.yaml
  docs/git-io-deprecation.md
  modules/github/Makefile.init
Labels: modules/github, no-release, minor
