Repository cloudposse/build-harness, pull requests merged in 2023-02, with the labels that each got.

#338 Renamed access token
  .github/workflows/auto-readme.yml
  .github/workflows/auto-release.yml
  .github/workflows/chatops.yml
  .github/workflows/validate-codeowners.yml
  templates/.github/workflows/auto-release.yml
  templates/.github/workflows/validate-codeowners.yml
  templates/terraform/.github/workflows/auto-context.yml
  templates/terraform/.github/workflows/auto-format.yml
  templates/terraform/.github/workflows/auto-readme.yml
  templates/terraform/.github/workflows/chatops.yml
Labels: minor

#325 Modernize templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/linters/.markdown-lint.yml
  modules/github/Makefile.init
  templates/.github/ISSUE_TEMPLATE/bug_report.md
  templates/.github/ISSUE_TEMPLATE/bug_report.yml
  templates/.github/ISSUE_TEMPLATE/feature_request.md
  templates/.github/ISSUE_TEMPLATE/feature_request.yml
  templates/.github/PULL_REQUEST_TEMPLATE.md
Labels: modules/github

#341 Gomplate to use predefined config
  .github/CODEOWNERS
  bin/codefresh-sync.sh
  configs/gomplate.yaml
  modules/docs/Makefile
  modules/readme/Makefile
Labels: modules/readme, modules/docs
