Repository cloudposse/build-harness, pull requests merged in 2024-03, with the labels that each got.

#382 Upgrade go to 1.21.7, terraform to 1.5.6
  Dockerfile
  README.md
  docs/targets.md
  modules/docker/Makefile.build
  modules/docker/Makefile.hub
  modules/readme/Makefile
  modules/terraform/Makefile
Labels: modules/readme, modules/terraform, modules/docker

#383 Ignore lockfiles while building Terraform docs
  modules/docs/Makefile
Labels: modules/docs

#384 Auto release fix
  .github/settings.yml
  .github/workflows/auto-release.yml
  README.md
Labels: no-release
