Repository cloudposse/build-harness, pull requests merged in 2024-01, with the labels that each got.

#365 Move screenshots above banners
  README.md
  templates/README.md.gotmpl
Labels: no-release, auto-readme-disabled

#367 Update template with support for .github/banner.png
  .github/banner.png
  README.md
  README.yaml
  templates/README.md.gotmpl
Labels: auto-readme-disabled

#370 Properly scope Docker build flags for build-harness project
  Makefile
Labels: bug, bugfix, auto-readme-disabled

#368 Use Organization's .github `README.md.gotmpl`
  .github/workflows/lint.yml
  .gitignore
  Dockerfile
  modules/readme/Makefile
  templates/README.md.gotmpl
Labels: modules/readme, auto-readme-disabled
