Repository cloudposse/build-harness, pull requests merged in 2024-02, with the labels that each got.

#374 Fix detection of github organization for README templates
  .github/workflows/auto-readme.yml
  .github/workflows/chatops.yml
  .github/workflows/lint.yml
  .github/workflows/validate-codeowners.yml
  README.md
  README.yaml
  modules/readme/Makefile
  templates/Makefile.build-harness
Labels: modules/readme, auto-readme-disabled

#375 Use installed packages, segregate executables by platform
  Makefile
  modules/docs/Makefile
  modules/packages/Makefile
  modules/readme/Makefile
  templates/Makefile.build-harness
Labels: modules/readme, modules/docs, modules/packages, bugfix

#376 Fix make/readme when github_repo has quotes
  modules/readme/Makefile
Labels: modules/readme

#377 Disambiguate packages install path from other uses of INSTALL_PATH
  Dockerfile
  Dockerfile.slim
  Makefile
  README.md
  docs/targets.md
  modules/packages/Makefile
  templates/Makefile.build-harness
Labels: modules/packages, bugfix

#380 Do not clobber custom README *template* file
  README.md
  modules/readme/Makefile
Labels: modules/readme, bugfix
